#home-title {
  color: red !important;
}

.age-span {
  color: red;
}

.inner-box {
  font-size: 100px;
  color: #f60 !important;
}

.div-box {
  font-size: 20px;
  .book {
    font-size: 12px;
  }
}

.content-wrap {
  display: flex;
  background: #e9ebf2;
  overflow: hidden;
  // overflow-y: scroll;
  height: calc(100vh - 90px);
}

.content-right {
  flex: 1;
  overflow-y: scroll;
}
