.header-bar {
  height: 90px;
  background: #ffffff;
  border-bottom: 1px solid #e9ebf2;
  display: flex;
  .header-bar-left {
    flex: 1;
    line-height: 90px;
    .logo-pic {
      margin-left: 16px;
    }
  }
  .header-bar-right {
    width: 160px;
    // border-left: 1px solid #e9ebf2;
    display: flex;
    align-items: center;
  }
  .user-pic {
    margin-left: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .user-info {
    margin-left: 12px;
    > div {
      height: 22px;
      font-size: 16px;
      font-weight: 500;
      color: #333333;
      line-height: 22px;
    }
    .user-postion {
      height: 20px;
      width: 80px !important;
      font-size: 12px;
      font-weight: 500;
      color: #999999;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }
  }
  .config-user-icon {
    flex: 1;
    text-align: right;
    padding-right: 12px;
    color: #999;
  }
}
